<section class="thirteen columns">
    <h1>Activities</h1>
    <article>
      
	<article>
        <header>
            <h2>Teaching Assistant</h2>
		</header>
			<ul>
				<li> Course : Physics Laboratory I (Department of Physics)
					<span><address>Indian Institute of Science Education and Research Kolkata, India</address><time>Jan. 2017 – Jun. 2017</time></span>
				<li> Course : Waves and Vibrations (Department of Physics)
					<span><address>Indian Institute of Science Education and Research Kolkata, India</address><time>Aug. 2016 – Dec. 2016</time></span>
			</ul>
    </article>

</section>
