<section class="thirteen columns">
    <h1>Activities</h1>
    <article>
      
	<article>
        <header>
            <h2>Teaching Assistant</h2>
		</header>
			<ul>
				<li> Course : Physics Laboratory I (Department of Physics)
					<span><address>Indian Institute of Science Education and Research Kolkata, India</address><time>Jan. 2017 – Jun. 2017</time></span>
				<li> Course : Waves and Vibrations (Department of Physics)
					<span><address>Indian Institute of Science Education and Research Kolkata, India</address><time>Aug. 2016 – Dec. 2016</time></span>
			</ul>
    </article>
	
	<article>
        <header>
            <h2>Volunteer</h2>
		</header>
			<ul>
				<li> Event Organizer for College Fest
					<span><address>Indian Institute of Science Education and Research Kolkata, India</address><time>Dec. 2013 – Feb. 2014</time></span>
					<p> I was the head event organizer for the gaming event Headshot for the yearly science fest, INQUIVESTA organized by the institute in the year 2014.</p>
				<li> Accountant for Student's Canteen
					<span><address>Indian Institute of Science Education and Research Kolkata, India</address><time>Oct. 2012 – May, 2013</time></span>
					<p> I volunteered as one of the accountant for the student's canteen at the institute. </p>
			</ul>
    </article>

</section>
