<section class="thirteen columns">
    <h1>Activities</h1>
    <article>
      
	<article>
        <header>
            <h4>TEACHING ACTIVITIES</h4>
		
			<ul>
				<li> <header>Course : Physics Laboratory I (Department of Physics) <br/>
					<span><address>Indian Institute of Science Education and Research Kolkata, India</address><time>Jan. 2017 – Jun. 2017</time></span></header>
				<li> <header>Course : Waves and Vibrations (Department of Physics)<br/>
					<span><address>Indian Institute of Science Education and Research Kolkata, India</address><time>Aug. 2016 – Dec. 2016</time></span></header>
			</ul>
			</header>
    </article>
	
	<article>
        <header>
            <h4>VOLUNTEER</h4>
		
			<ul>
				<li> <header> <em>Event Organizer</em> for College Fest<br/>
					<span><address>Indian Institute of Science Education and Research Kolkata, India</address><time>Dec. 2013 – Feb. 2014</time></span></header>
					<p> I was the head event organizer for the gaming event Headshot for the yearly science fest, INQUIVESTA organized by the institute in the year 2014.</p>
				<li> <header> <em>Accountant</em> for Student's Canteen<br/>
					<span><address>Indian Institute of Science Education and Research Kolkata, India</address><time>Oct. 2012 – May, 2013</time></span></header>
					<p> I volunteered as one of the accountant for the student's canteen at the institute. </p>
			</ul>
			</header>
    </article>

</section>
