<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MBA-Advanced Information Technology</h1>
            <span>International Institute of Information Technology</span>
            <span><address>Maharashtra, India</address><time>2004 to 2006</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc (Computer Applications and Information Technology)</h1>
            <span>HNG University</span>
            <span><address>Gujarat, India</address><time>2001 to 2004</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
</section>
