<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor and Master of Sciences Dual Degree, Major Physics</h1>
            <span>Indian Institute of Science Education and Research Kolkata (IISERK)</span>
            <span><address>West Bengal, India</address><time>2012 to 2017</time></span>
        </header>
        <p>
            <em>Thesis: Nutation of Sidebands in MASS (Magic Angle Sample Spinning)</em>
        </p>
    </article>
    <article>
        <header>
            <h1>MSc in Statistics, Specialization Data Science</h1>
            <span>Leiden University</span>
            <span><address>South-Holland, Netherlands</address><time>2020 to 2021</time></span>
        </header>
        <p>
            <em>Thesis: Validation of prediction rules for Counts Outcome in the presence of missing predictor data using multiple imputation and cross-validation</em>
        </p>
    </article>
</section>
