<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h4>INDUSTRY EXPERIENCE</h4>
		
			<ul>
				<li> <em><b> Associate Projects </b></em><br/> <span><address>Company: <em>Cognizant Technology Solutions</em></address>
					<time>Jun. 2010 – Mar. 2013 </time></br></span>
					<p> I worked on DW and BI projects of various BFSI clients including JPMorgan Chase</p>
            
				<li> <em><b> Senior Executive (Business intelligence) </b></em><br/> <span><address>Company: <em>Bajaj Allianz General insurance Co. Ltd.</em></address>
					<time>Feb. 2006 – Jun. 2010 </time></br></span>
					<p> Worked as part of MIS team to provide information that the organization needed to manage itself effectively and efficiently. It involved interacting with clients across the country and gathering requirements. I worked on the Design and development of various ad hoc reports, advanced reports, dashboards, and scheduled reports using Business Objects. These reports had vital information that helped the company to align their business processes according to the needs of the customers. I also worked on customer retention analysis, profitability, premium, claim, audit reports.</p>
			</ul>

			</header>
    </article>
	
	<article>
        <header>
            <h4>ACADEMIC EXPERIENCE</h4>
			<ul>
				<li> <em> <b>Valuenotes (a leading provider of business intelligence and research) </b></em><br/> Internship <br/> 
					<span><address><em>International Institute of Information Technology, India</em></address><time>Nov. 2005 – Jan. 2006</time></span>
			</ul>
			</header>
    </article>
	
	<article>
        <header>
            <h4>OTHER PROJECTS</h4>
		
			<ul>
				<li> <em> <b>Freelancing random projects</b></em><br/> <span><address>Personal project</address>
					<time>Apr. 2013 – Mar. 2017 </time></span>
					<p>I worked on various business intelligence and business analysis projects. </p>
			</ul>
			</header>
    </article>
	

</section>
