<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h4>ACADEMIC EXPERIENCE</h4>
		
			<ul>
				<li> <em> <b>Multiple Imputation in prognostic calibration of count data </b></em><br/> Internship, supervisor : Dr. Bart Mertens<br/> 
					<span><address><em>Leiden University</em></address><time>Nov. 2020 – Feb. 2021</time></span>
					<p>Worked on statistical simulations in multiple imputation (missing data analysis). </p>
				<li> <em><b>HCQ cocktail against early Covid-19 infection</b></em><br/> Summer Project, supervisor : Dr. Richard Gill<br/> 
					<span><address><em>Leiden University</em></address><time>Jun. 2020 – Aug. 2020</time></span>
					<p>Worked on analysis of the effect of hydroxychloroquine in region-specific COVID-19 patients. </p>
				<li> <em><b>Application of distributed computing in source identification with the LOFAR Two-meter Sky Survey</b></em><br/> Course Assignment : Distributed Data Mining<br/> 
					<span><address><em>Leiden University</em></address><time>Feb. 2020 – May 2020</time></span>
					<p>Worked in a group project with distributed analysis of large-scale image data with PySpark. </p>
				<li> <em> <b>Investigation of patterns in Rheumatoid Arthritis Joint Inflammation data </b></em><br/>Course Assignment : Statistical Consulting<br/> 
					<span><address><em>Leiden University</em></address><time>Aug. 2020 – Dec. 2020</time></span>
					<p>Worked in a group project with analysis and modelling of course of Rheumatoid Arthritis in patients. </p>
				<li> <em><b> In situ kinetic measurements of 𝛼-synuclein aggregation reveal large population of short-lived oligomers </b></em><br/> Project, supervisor : Dr. Martina Huber<br/> 
					<span><address><em>Leiden University</em></address><time>Feb. 2012 – Feb. 2019</time></span>
					<p>Worked in a group project to model the dynamics of proteins obtained via electron resonance spectroscopy. </p>
			</ul>
			</header>
    </article>
	
	<article>
        <header>
            <h4>INDUSTRY EXPERIENCE</h4>
			<ul>
				<li> <em><b> Consultant Intern </b></em><br/> <span><address>Company: <em>Prifina</em></address>
					<time>Oct. 2019 – Jan. 2020 </time></br><address>Contact Person: Markus Lampien</address></span>
					<p> I worked on developing automation and analysis tools for automating customer data acquistion and exploratory analysis.</p>
			</ul>
			</header>
    </article>
	
	<article>
        <header>
            <h4>OTHER PROJECTS</h4>
		
			<ul>
				<li> <em> <b>Scraping Youtube Video with BeautifulSoup </b></em><br/> <span><address>Personal project</address>
					<time>Sep. 2019 – Nov. 2020 </time></span>
					<p>I worked webscraping script to extract data from a youtube video link. </p>
			</ul>
			</header>
    </article>
	

</section>
