<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Python</em>
        </p>
        <p>
            <i class="fa fa-star"></i></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>SQL</em> &amp; <em>Git</em>
        </p>
		
    </article>
	<h1>Additional Skills</h1>
    <article>
		<p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Data Visualization</em> &amp; <em>Power BI</em> &amp; <em>Tableau</em>
        </p>
		
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Mathematical</em> &amp; <em>Statistical Modelling</em> &amp; <em>Analysis</em>
        </p>
		
		
	</article>
		
		<h1>Language Skills</h1>
		<article>
			<p>
				<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Bengali</em> (Mother tongue)
			</p>
		
			<p>
				<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>English</em> &amp; <em>Hindi</em>
			</p>
		
		
			<p>
				<i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Dutch</em>
			</p>
		
		</article>
</section>
