body{
    margin: 0px;
    background-image: linear-gradient(to bottom right, white, #99ceff);
}

.container{
    padding: 0;
	margin:5%;
	margin-top: 2%;
	margin-left: 15%;
}

 .skipped {
     margin-top: 80%;
  }
  
 .Achieve{
	padding :0;
 }

/* Nav Styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 5%;
	margin:5%;
}

.nav-left-link{
    display: flex;
}

.navigation-wrapper> .nav-left-link> div{
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 0.5%;
    font-size: 100%;
    text-transform: uppercase;
	margin-left: 2%;
}

.nav-link-wrapper{
    height: 12%;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 2px solid black;
}

.nav-link-wrapper a{
    color: black;
}

.nav-right-link{
    text-align: right;
}

.active-nav-link{
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black !important;
}

/* About Me*/
.two-column-wrapper{
    padding-left: 5%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 0.5fr 1.35fr;
    grid-template-rows: 3fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "profile-img-wrapper profile-content-wrapper" "contact-wrapper profile-content-wrapper";
}


  
.profile-img-wrapper img{
	margin-left : 30%;
	margin-top : 7%;
	margin-right :0;
    grid-area: profile-img-wrapper;
    align-content: right;
    width: 50%;
    border: 2px solid #555
}

.contact-wrapper { 
	text-align: center;
    grid-area: contact-wrapper; 
	padding:2%;
}

.contact-wrapper img{
    float: left;
    width:  45px;
    height: 45px;
    object-fit: cover;
}

.profile-content-wrapper{
    grid-area: profile-content-wrapper; 
    padding:1%;
}

.profile-content-wrapper:hover h2{
    transition: 0.1s;
    color:lightseagreen;
	font-weight: bold;
}

.projects-content-wrapper{
	margin: 7px;
    grid-area: project-content-wrapper; 
    padding:10%;
}

.projects-content-wrapper:hover li, h1{
    transition: 0.1s;
    color: seagreen;
}
